services:
  app:
    build: .
    container_name: taskmanager_app
    command: python manage.py runserver 0.0.0.0:8000
    env_file:
      - .env
    volumes:
      - .:/app
    ports:
      - 8000:8000
    depends_on:
      - postgres
  postgres:
    image: postgres:18-alpine
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_DB=taskmanager_db
      - POSTGRES_USER=taskmanager_user
      - POSTGRES_PASSWORD=taskmanager_pass
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: