{% extends '_base.html' %}

{% load widget_tweaks %}

{% block head_title %}
    Create project
{% endblock head_title %}

{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-5 col-lg-5">
                <div class="card rounded-3 p-3 py-5 border-0 bg-dark-subtle">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-4 fw-bold text-white">Create project</h3>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3 text-start">
                                <i class="bi bi-person-fill me-2"></i> 
                                {{ form.title|add_label_class:'form-label fw-semibold' }}
                                {% render_field form.title class="form-control p-3 rounded-3" placeholder="Choose a name for your new project" %}
                            </div>
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {% for error in form.non_field_errors %}
                                        {{ error }}
                                    {% endfor %}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                            <button type="submit" class="btn btn-outline-light w-100 mt-2 rounded-3 p-2 fw-bold">Create</button>
                        </form>
                    </div> 
                </div>
            </div>
        </div>
    </div>
{% endblock content %}