body {
    font-family: 'Quicksand', sans-serif;
}
.low-priority-bg {
    background-color: rgb(33, 172, 33) !important;
}
.medium-priority-bg {
    background-color: rgb(180, 180, 54) !important;
}
.high-priority-bg {
    background-color: rgb(167, 45, 45) !important;
}