{% extends '_base.html' %}

{% load static %}

{% block head_title %}
    Project detail
{% endblock head_title %}

{% block content %}
    <main class="container my-4" id="project-detail">
		<div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3 gap-3 bg-dark-subtle p-3 rounded-3">
			<div id="project-header"
				hx-get="{% url 'tasks:project_detail' project.id %}"
				hx-trigger="load, task-changed from:body, project-changed from:body"
			>
			</div>
			<div class="d-flex gap-2">
				<button type="button" class="btn btn-sm rounded-3 btn-outline-light fw-semibold"
					hx-get="{% url 'tasks:project_update' project.id %}"
					hx-target="#modal-body"
					hx-swap="innerHTML"
					data-bs-toggle="modal"
                	data-bs-target="#modal"
				>
					<i class="bi bi-pencil"></i>
					Update
				</button>
				<button type="button" class="btn btn-sm rounded-3 btn-outline-danger fw-semibold"
					hx-get="{% url 'tasks:project_delete' project.id %}"
					hx-target="#modal-body"
					hx-swap="innerHTML"
					data-bs-toggle="modal"
                	data-bs-target="#modal"
				>
					<i class="bi bi-trash"></i>
					Delete
				</button>
			</div>
		</div>
		<form method="POST"
			hx-post="{% url 'tasks:task_create' project.id %}"
			hx-trigger="submit"
			hx-target="#task_list"
			hx-swap="innerHTML"
			hx-indicator="#task-list-spinner"
			_="on htmx:afterRequest reset() me"
		>
			{% csrf_token %}
			<div class="input-group mb-3">
				<input type="text" name="title" class="form-control" placeholder="Start typing here to create a task..." required>
				<input type="hidden" name="priority" id="priority-input" value="low">
				<button id="priority-button" class="btn btn-outline-secondary dropdown-toggle fw-semibold" type="button" data-bs-toggle="dropdown">
					Priority
				</button>
				<ul class="dropdown-menu dropdown-menu-end p-1">
					<li><a class="dropdown-item bg-success rounded-3 mb-1 fw-semibold" href="#" data-value="low">Low</a></li>
					<li><a class="dropdown-item bg-warning rounded-3 mb-1 fw-semibold" href="#" data-value="medium">Medium</a></li>
					<li><a class="dropdown-item bg-danger rounded-3 fw-semibold" href="#" data-value="high">High</a></li>
				</ul>
				<button type="submit" class="btn btn-info fw-semibold">
					<i class="bi bi-plus-lg"></i> Add
				</button>
			</div>
		</form>
		<div id="task_list"
			hx-get="{% url 'tasks:task_list_partial' project.id %}"
			hx-target="#task_list"
			hx-trigger="load"
			hx-swap="innerHTML"
			hx-indicator="#task-list-spinner"
		>
		</div>
		{% include 'includes/spinner.html' with name='task-list' %}
	</main>
{% endblock content %}
{% block extra_js %}
	<script src="{% static 'js/task_priority.js' %}"></script>
{% endblock extra_js %}